@model BugTracker.Models.Ticket

<div class="box box-solid">
    <div class="box-header">
        <i class="fa fa-comments"></i>
        <h3 class="box-title">
            <strong>Comments</strong>
        </h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-sm" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#comModal">
                <i class="fa fa-expand"></i>
            </button>
            <button type="button" class="btn btn-sm" data-widget="remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="content chat-box back">
            @foreach (var comment in Model.TicketComments)
            {
                <div class="item">
                    <img src="@comment.Author.AvatarUrl" class="img-circle" style="height:40px"> <strong>@comment.Author.FullName</strong>
                    <small class="pull-right"><i class="fa fa-clock-o"></i> @comment.Created.ToString("h:mm tt")<br />@comment.Created.ToString("M/dd/yyy")</small>
                    <p>
                        @comment.CommentBody
                    </p>
                </div>
                <hr />
            }
        </div>
    </div>
    <div class="box-footer">
        @if (User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm("CreateComment", "Tickets", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id);
                @Html.Hidden("TicketId", Model.Id);
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control" name="CommentBody" placeholder="Add comment..." />
                        <br />
                        <button type="submit" class="btn pull-right"><i class="fa fa-comment-o"></i></button>
                    </div>
                </div>
            }
        }
    </div>
</div>

<!--MODAL-->
<div id="comModal" class="modal fade">
    <div class="box-content">
        <div class="box-header">
            <i class="fa fa-comments"></i>
            <h3 class="box-title"><strong>Comments</strong></h3>
            <button type="button" class="btn btn-xs pull-right" data-dismiss="modal">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="back modal-skroll">
                @foreach (var comment in Model.TicketComments)
                {
                    <div class="item">
                        <img src="@comment.Author.AvatarUrl" class="img-circle" style="height:40px"> <strong>@comment.Author.FullName</strong>
                        <small class="pull-right"><i class="fa fa-clock-o"></i> @comment.Created.ToString("h:mm tt")<br />@comment.Created.ToString("M/dd/yyy")</small>
                        <p>
                            @comment.CommentBody
                        </p>
                    </div>
                    <hr />
                }

            </div>
        </div>
        <div class="box-footer">
            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("CreateComment", "Tickets", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id);
                    @Html.Hidden("TicketId", Model.Id);
                    <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" name="CommentBody" placeholder="Add comment..." />
                            <br />
                            <button type="submit" class="btn pull-right"><i class="fa fa-comment-o"></i></button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section scripts{
    <script>

        //$("#scrollDown").scrollTop($("#scrollDown")[0].scrollHeight);
    </script>
}