@using BugTracker.Helpers;
@using Microsoft.AspNet.Identity;

@model BugTracker.Models.Ticket

@{ 
    var userId = User.Identity.GetUserId();
    var userProjectsHelper = new UserProjectsHelper();
    var ticketHelper = new TicketHelper();
}
    <div class="box box-solid">
        <div class="box-header">
            <i class="fa fa-info-circle"></i>
            <h3 class="box-title">
                <strong>@Model.Title Info</strong>
            </h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-sm" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-sm" data-widget="remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Submitter</th>
                        <th>Assigned User</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody style="color:black;">
                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager") && userProjectsHelper.IsOnProject(userId, Model.ProjectId))
                    {
                        using (Html.BeginForm("Edit", "Tickets"))
                        {
                            @Html.AntiForgeryToken();
                            @Html.HiddenFor(model => model.Id);
                            @Html.HiddenFor(model => model.ProjectId);
                            @Html.HiddenFor(model => model.Created);
                            <tr>
                                <td>@Model.OwnerUser.FullName</td>
                                <td>@Html.DropDownList("Developer", null, ticketHelper.TicketAssignee(Model.Id), new { @class = "form-control" })</td>
                                <td>
                                    @Html.DropDownList("TicketStatusId", null, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DropDownList("TicketPriorityId", null, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DropDownList("TicketTypeId", null, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Description, null, new { @class = "form-control, col-fill" })
                                </td>
                                <td>@Model.Created.ToString("MM/d/yyyy")</td>
                                <td>@Model.Updated</td>
                                <td class="edit-cell">
                                    <input type="submit" value="EDIT" class="btn" />
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("Edit", "Tickets"))
                        {
                            @Html.AntiForgeryToken();
                            @Html.HiddenFor(model => model.Id);
                            @Html.HiddenFor(model => model.ProjectId);
                            @Html.HiddenFor(model => model.Created);
                            <tr>
                                <td>@Model.OwnerUser.FullName</td>
                                @if (Model.AssignedToUserId == null)
                                {
                                    <td>Unassigned</td>
                                }
                                else
                                {
                                    <td>@Model.AssignedToUser.FullName</td>
                                }
                                <td>@Model.TicketStatus.Name</td>
                                @if (User.IsInRole("Project Manager") && userProjectsHelper.IsOnProject(userId, Model.ProjectId))
                                {
                                    <td>
                                        @Html.DropDownList("TicketPriorityId", null, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DropDownList("TicketTypeId", null, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                    </td>
                                }
                                else
                                {
                                    <td>@Model.TicketPriority.Name</td>
                                    <td>@Model.TicketType.Name</td>
                                    <td>@Model.Description</td>
                                }
                                <td>@Model.Created.ToString("MM/d/yyyy")</td>
                                <td>@Model.Updated</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
