@using BugTracker.Models;
@using Microsoft.AspNet.Identity;
@using BugTracker.Helpers;
@model IEnumerable<BugTracker.Models.Project>

@{
    var ticketHelper = new TicketHelper();
    var roleHelper = new UserRolesHelper();
    var projectHelper = new ProjectHelper();
    var userProjectsHelper = new UserProjectsHelper();
    var db = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();
    var user = db.Users.Find(userId);
    //var tCount = ticketHelper.MyTickets(userId, roleName).Count();
    //var tWord = tCount == 1 ? "Ticket" : "Tickets";
}


<div class="box-header">
    <i></i>
    <h3 class="box-title">
        <strong>Dashboard</strong>
    </h3>
</div>
<div class="body">
    <section class="content render-box skroll">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header">
                        <i class="fa fa-inbox"></i>
                        <h3 class="box-title">
                            <strong> Projects - @db.Projects.Count() - @user.Projects.Count()</strong>
                        </h3>
                        <div class="box-tools pull-right">
                            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                            {
                                <button href="#myProjects" type="button" class="btn btn-sm" data-toggle="tab">My Projects</button>
                                <button href="#allProjects" button" class="btn btn-sm active" data-toggle="tab">All Projects</button>
                            } else
                            {
                                <button href="#myProjects" type="button" class="btn btn-sm active" data-toggle="tab">My Projects</button>
                            }
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="tab-content">
                            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                            {
                                <div class="tab-pane active" id="allProjects">
                                    <div class="box-body">
                                        <table class="userTable table table-bordered ">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Created</th>
                                                    <th>Tickets</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var allProjects in db.Projects.ToList())
                                                {
                                                    <tr>
                                                        <td>
                                                            <a href="@Url.Action("Details", "Projects", new { Id = allProjects.Id })">@Html.DisplayFor(modelItem => allProjects.Name)</a>
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => allProjects.Description)
                                                        </td>
                                                        <td>
                                                            @allProjects.Created
                                                        </td>
                                                        <td>
                                                            @foreach (var tick in ticketHelper.TicketsOnProject(allProjects.Id).OrderBy(t => t.TicketPriority.Id))
                                                            {

                                                                <a href="@Url.Action("Details", "Tickets", new { Id = tick.Id })">
                                                                    <i class="fa fa-circle @ticketHelper.TicketsByPriority(tick.TicketPriority.Name)"></i> @tick.Title
                                                                </a><br />}

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="myProjects">
                                    <div class="box-body">
                                        <table class="userTable table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Created</th>
                                                    <th>Assigned Users</th>
                                                    <th>Tickets</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var myProjects in user.Projects.ToList())
                                                {
                                                    <tr>
                                                        <td>
                                                            <a href="@Url.Action("Details", "Projects", new { Id = myProjects.Id })">@Html.DisplayFor(modelItem => myProjects.Name)</a>
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => myProjects.Description)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => myProjects.Created)
                                                        </td>
                                                        <td>
                                                            @foreach (var users in userProjectsHelper.ListUsersOnProject(myProjects.Id).ToList())
                                                            {
                                                                @users.FullName<br />
                                                            }
                                                        </td>
                                                        <td>
                                                            @foreach (var tick in ticketHelper.TicketsOnProject(myProjects.Id).OrderBy(t => t.TicketPriority.Id))
                                                            {
                                                                if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Developer") && user.Id == tick.AssignedToUserId || User.IsInRole("Submitter") && user.Id == tick.OwnerUserId)
                                                                {
                                                                    <a href="@Url.Action("Details", "Tickets", new { Id = tick.Id })">
                                                                        <i class="fa fa-circle @ticketHelper.TicketsByPriority(tick.TicketPriority.Name)"></i> @Html.DisplayFor(modelItem => tick.Title)
                                                                    </a><br />
                                                                }
                                                                else
                                                                {
                                                                    <i class="fa fa-circle @ticketHelper.TicketsByPriority(tick.TicketPriority.Name)"></i> @Html.DisplayFor(modelItem => tick.Title)<br />
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="tab-pane active" id="myProjects">
                                    <div class="box-body">
                                        <table class="userTable table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Created</th>
                                                    <th>Assigned Users</th>
                                                    <th>Tickets</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var myProjects in user.Projects.ToList())
                                                {
                                                    <tr>
                                                        <td>
                                                            <a href="@Url.Action("Details", "Projects", new { Id = myProjects.Id })">@Html.DisplayFor(modelItem => myProjects.Name)</a>
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => myProjects.Description)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => myProjects.Created)
                                                        </td>
                                                        <td>
                                                            @foreach (var users in userProjectsHelper.ListUsersOnProject(myProjects.Id).ToList())
                                                            {
                                                                @users.FullName<br />
                                                            }
                                                        </td>
                                                        <td>
                                                            @foreach (var tick in ticketHelper.TicketsOnProject(myProjects.Id).OrderBy(t => t.TicketPriority.Id))
                                                            {
                                                                if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Developer") && user.Id == tick.AssignedToUserId || User.IsInRole("Submitter") && user.Id == tick.OwnerUserId)
                                                                {
                                                                    <a href="@Url.Action("Details", "Tickets", new { Id = tick.Id })">
                                                                        <i class="fa fa-circle @ticketHelper.TicketsByPriority(tick.TicketPriority.Name)"></i> @Html.DisplayFor(modelItem => tick.Title)
                                                                    </a><br />
                                                                }
                                                                else
                                                                {
                                                                    <i class="fa fa-circle @ticketHelper.TicketsByPriority(tick.TicketPriority.Name)"></i> @Html.DisplayFor(modelItem => tick.Title)<br />
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                @*</div>*@
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
        </div>
        <!-- /.row (main row) -->
    </section>
</div>

@section scripts
{
    <script>
        $(".userTable").DataTable({
            'paging': true,
            'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false
        });
    </script>
}
